
button {
  display: block;
  width: 20%;
  position: relative;
}
#logo {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-control {
  margin-left: auto;
  margin-bottom: auto;
  width: 40%;
}
.col-md-12 {
  text-align: center;
}
#textButton {
  margin-left: 5%
}
.camframes {
  width: 400px;
}
li {
  text-align: center;
  display: block;
  text-decoration: none;
}
#wunder {
  width: 100px;
}
#icon {
  width: 100px;
}
a, h6 {
  color: black;
}
.hidden {
  display: none;
}
.show {
  background-color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
table {
  float: left;
  margin-left: auto;
  margin-right: auto;
}
td {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 25px;
  padding: 20px 60px;
}
#query {
  text-align: center;
}
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:white;
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	background: white;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
